In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
data = pd.read_excel("../apac_aggregated.xlsx")
data.head()

,WEEK,REGION,COUNTRY,ADMIN1,EVENT_TYPE,SUB_EVENT_TYPE,EVENTS,FATALITIES,POPULATION_EXPOSURE,DISORDER_TYPE,ID,CENTROID_LATITUDE,CENTROID_LONGITUDE
0,2016-12-31,Caucasus and Central Asia,Afghanistan,Badakhshan,Battles,Armed clash,6,15,113469.0,Political violence,1,36.966,73.3417
1,2017-01-07,Caucasus and Central Asia,Afghanistan,Badakhshan,Battles,Armed clash,5,28,155849.0,Political violence,1,36.966,73.3417
2,2017-01-21,Caucasus and Central Asia,Afghanistan,Badakhshan,Battles,Armed clash,1,4,38453.0,Political violence,1,36.966,73.3417
3,2017-02-04,Caucasus and Central Asia,Afghanistan,Badakhshan,Battles,Armed clash,1,4,1308.0,Political violence,1,36.966,73.3417
4,2017-02-11,Caucasus and Central Asia,Afghanistan,Badakhshan,Battles,Armed clash,4,41,143199.0,Political violence,1,36.966,73.3417

In [4]:
my_data = data[data['COUNTRY'] == 'Myanmar']

my_data['YEAR'] = my_data['WEEK'].dt.year
my_data['MONTH'] = my_data['WEEK'].dt.month
my_data['DAY'] = my_data['WEEK'].dt.day

after_coup = my_data[(my_data['YEAR'] > 2021) | ((my_data['YEAR'] == 2021) & (my_data['MONTH'] >= 2))]
after_coup.head()

C:\Users\aleac\AppData\Local\Temp\ipykernel_27816\3449467705.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_data['YEAR'] = my_data['WEEK'].dt.year
C:\Users\aleac\AppData\Local\Temp\ipykernel_27816\3449467705.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_data['MONTH'] = my_data['WEEK'].dt.month
C:\Users\aleac\AppData\Local\Temp\ipykernel_27816\3449467705.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  my_data['DAY'] = my_data['WEEK'].dt.day

,WEEK,REGION,COUNTRY,ADMIN1,EVENT_TYPE,SUB_EVENT_TYPE,EVENTS,FATALITIES,POPULATION_EXPOSURE,DISORDER_TYPE,ID,CENTROID_LATITUDE,CENTROID_LONGITUDE,YEAR,MONTH,DAY
113069,2021-05-15,Southeast Asia,Myanmar,Ayeyarwady,Battles,Armed clash,1,0,208498.0,Political violence,2043,17.1075,95.1442,2021,5,15
113070,2021-05-29,Southeast Asia,Myanmar,Ayeyarwady,Battles,Armed clash,1,1,208498.0,Political violence,2043,17.1075,95.1442,2021,5,29
113071,2021-06-05,Southeast Asia,Myanmar,Ayeyarwady,Battles,Armed clash,1,5,15032.0,Political violence,2043,17.1075,95.1442,2021,6,5
113072,2021-09-18,Southeast Asia,Myanmar,Ayeyarwady,Battles,Armed clash,1,0,16793.0,Political violence,2043,17.1075,95.1442,2021,9,18
113073,2021-10-02,Southeast Asia,Myanmar,Ayeyarwady,Battles,Armed clash,1,1,89249.0,Political violence,2043,17.1075,95.1442,2021,10,2

In [9]:
admin1_list = after_coup['ADMIN1'].unique()
print(admin1_list)

#replace Shan-North with Shan (North)
after_coup['ADMIN1'] = after_coup['ADMIN1'].replace({'Shan-North': 'Shan (North)'})
after_coup['ADMIN1'] = after_coup['ADMIN1'].replace({'Shan-South': 'Shan (South)'})
after_coup['ADMIN1'] = after_coup['ADMIN1'].replace({'Shan-East': 'Shan (East)'})

after_coup = my_data[(my_data['YEAR'] > 2021) | ((my_data['YEAR'] == 2021) & (my_data['MONTH'] >= 2))]
after_coup.head()

#group by ADMIN1 and sum events and fatalities
grouped_data = after_coup.groupby('ADMIN1').agg({'EVENTS': 'sum', 'FATALITIES': 'sum'}).reset_index()
grouped_data.head()

#replace Region (Other) with Region-Other through regex
grouped_data['ADMIN1'] = grouped_data['ADMIN1'].apply(lambda x: re.sub(r'(.*)-(.*)', r'\1 (\2)', x))

grouped_data.to_csv("myanmar_post_coup_events_fatalities_by_admin1.csv", index=False)

['Ayeyarwady' 'Bago-East' 'Bago-West' 'Chin' 'Kachin' 'Kayah' 'Kayin'
 'Magway' 'Mandalay' 'Mon' 'Nay Pyi Taw' 'Rakhine' 'Sagaing' 'Shan-East'
 'Shan-North' 'Shan-South' 'Tanintharyi' 'Yangon']

C:\Users\aleac\AppData\Local\Temp\ipykernel_27816\2599379208.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after_coup['ADMIN1'] = after_coup['ADMIN1'].replace({'Shan-North': 'Shan (North)'})
C:\Users\aleac\AppData\Local\Temp\ipykernel_27816\2599379208.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after_coup['ADMIN1'] = after_coup['ADMIN1'].replace({'Shan-South': 'Shan (South)'})
C:\Users\aleac\AppData\Local\Temp\ipykernel_27816\2599379208.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after_coup['ADMIN1'] = after_coup['ADMIN1'].replace({'Shan-East': 'Shan (East)'})