In [2]:
import pandas as pd
import numpy as np

In [18]:
data = pd.read_excel("../MultiCountry WDD.xlsx")
data.head()

,Country Name,Country Code,Series Name,Series Code,2020 [YR2020],2021 [YR2021],2022 [YR2022]
0,Myanmar,MMR,GDP (current US$),NY.GDP.MKTP.CD,79006113670.283142,66345291149.443298,62253049903.280022
1,Myanmar,MMR,"Population, total",SP.POP.TOTL,53016522,53387102,53756787
2,Myanmar,MMR,GDP per capita (current US$),NY.GDP.PCAP.CD,1490.216836,1242.721344,1158.050051
3,Myanmar,MMR,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,40.1,44.5,48.9
4,Myanmar,MMR,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,24.1,28.4,33.2

In [24]:
rows_to_keep = ['GDP per capita (current US$)',
                'GDP (current US$)',
                'Population, total',
                'Merchandise exports (current US$)',
                'Merchandise imports (current US$)',
                'Government Effectiveness: Percentile Rank',
                'Agriculture, forestry, and fishing, value added (current US$)',
                'Industry (including construction), value added (current US$)',
                'Military expenditure (% of GDP)']

data_filtered = data[data['Series Name'].isin(rows_to_keep)]

#remove nigeria
data_filtered = data_filtered[data_filtered['Country Name'] != 'Nigeria']

#export to csv
data_filtered.to_csv("countries_indicators.csv", index=False)