In [ ]:
import pandas as pd
import numpy as np

In [4]:
conf_data = pd.read_csv('../conflict_data_mmr.csv')
conf_data.head()

,id,relid,year,active_year,code_status,type_of_violence,conflict_dset_id,conflict_new_id,conflict_name,dyad_dset_id,...,date_end,deaths_a,deaths_b,deaths_civilians,deaths_unknown,best,high,low,gwnoa,gwnob
0,NaN,NaN,#date+year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,#date+end,NaN,NaN,NaN,NaN,#affected+killed,NaN,NaN,NaN,NaN
1,71686.0,MYA-1989-1-306-35,1989,1.0,Clear,1.0,221.0,221.0,Myanmar (Burma): Karen,428.0,...,1989-12-31 00:00:00.000,0.0,0.0,0.0,3.0,3,0.0,0.0,775.0,NaN
2,500136.0,MYA-1989-1-306-1.2,1989,1.0,Clear,1.0,221.0,221.0,Myanmar (Burma): Karen,428.0,...,1989-02-21 00:00:00.000,0.0,0.0,4.0,0.0,4,4.0,4.0,775.0,NaN
3,49166.0,MYA-1989-1-306-1.1,1989,1.0,Clear,1.0,221.0,221.0,Myanmar (Burma): Karen,428.0,...,1989-02-21 00:00:00.000,16.0,0.0,0.0,0.0,16,16.0,16.0,775.0,NaN
4,49163.0,MYA-1989-1-306-13,1989,1.0,Clear,1.0,221.0,221.0,Myanmar (Burma): Karen,428.0,...,1989-04-20 00:00:00.000,161.0,466.0,0.0,0.0,627,761.0,177.0,775.0,NaN

In [11]:
gov_conflict = conf_data[(conf_data['side_a'] == 'Government of Myanmar (Burma)') & (conf_data['side_b'] != 'Civilians') & (conf_data['side_b'] != 'NUG')]

lat = gov_conflict['latitude'].to_numpy()
lon = gov_conflict['longitude'].to_numpy()
sideb = gov_conflict['side_b'].to_numpy()

unique_sideb = np.unique(sideb)
print(f"Unique side_b values: {unique_sideb} {len(unique_sideb)}")

pd.DataFrame({'latitude': lat, 'longitude': lon, 'side_b': sideb}).to_csv('coords_mmr.csv', index=False)

Unique side_b values: ['ABSDF' 'ARSA' 'BMA' 'CNF' 'DKBA 5' "God's Army" 'KIO' 'KNPP' 'KNU'
 'MNDAA' 'MTA' 'NMSP' 'NSCN-K' 'PSLF' 'RCSS' 'RSO' 'SSPP' 'ULA' 'UWSA'] 19